body {
    font-family: 'Roboto', sans-serif;
    /* background: url('/path-to-your-image.png') no-repeat center center fixed; */
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
  }
  
  form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    color: #34495e;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3498db;
  }
  